@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body{
    
    background-image: url('bg.jpg');
    background-blend-mode: unset;

background-attachment: fixed;
background-size:cover;
}
.navbar{
    width: 100%;
    height: 85px;
    margin: 10px;
    background-color: #231f1f;
padding:4px;
}
img.shi{
width: 350px;
height:240px;
}
.shiv{
    max-width: 35%;
            height: 30%;
            border-radius: 5px;
}

.icon{
    width: 180px;
    float: left;
    height: 80px;
}


.menu{
    width: 350px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color:white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}


ul li a:hover{
    color: #e8f900;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid#fff;
    margin-top: 13px;
    color: #000000;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    
}

.btn{
    width: 100px;
    height: 40px;
    background: #080808e8;
    border: 2px solid #080808;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}
.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;}

.icons a{
    text-decoration: none;
    color: #fff;
}
.icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 0px;
    transition: 0.3s ease;

        margin-bottom:0px; /* Adjust as needed */
    }
    #container{
        display: flex;
    }
    p{
        font-family: "Roboto Condensed", sans-serif;
      font-optical-sizing: auto;
      font-weight: 600;
      font-size: 25px;
      font-style: normal;
    }